# Environment Configuration
.env
.nvmrc
config.yml
.env.localdocker
# Dependency directory
node_modules

# Test coverage directory
coverage


.vscode/*
.idea/*

shopify-test-product-data.csv

*.yaml.dec